<div class="rewiew" id="review"> 
    <div class="container">
    <h2 class="title">Отзывы клиентов</h2>
        <div class="rewiew__inner">


            <div class="rewiew__item">
                <p class="rewiew__name">Наталья Михеева</p>
                <p class="rewiew__about"><span class="rewiew__about--primary">LPG-массаж</span></p>
                <div class="rewiew__wrap ">

                    <p class="rewiew__text ">
Долго искала хорошую студия в Москве. До этого ходила в другой салон, но там цены конские и ноль результата. Пришла в ESD на пробный сеанс и все очень понравилось. Мастер работает аккуратно, оказывается LPG бывает без боли, видимо раньш. Всем рекомендую! Взяла сейчас абонемент, пришлю фото до и после)                    
                    </p>

                    
                </div>
                <a href="#" class="rewiew__open">подробнее</a>
            </div>
            <div class="rewiew__item">
                <p class="rewiew__name">Дарья Хайруллина</p>
                <p class="rewiew__about"><span class="rewiew__about--primary">RF-лифтинг</span></p>
                <div class="rewiew__wrap">

                    <p class="rewiew__text">
Мастеру ___ большущее спасибо, прекрасный специалист, все объяснила, рассказала. После сеанса заметила, как тени под глазами исчезают!! Очень долго боролась с проблемой, наконец нашла решение)                    
                    </p>

                    
                </div>
                <a href="#" class="rewiew__open">подробнее</a>
            </div>
            <div class="rewiew__item">
                <p class="rewiew__name">Ира Савчук</p>
                <p class="rewiew__about"><span class="rewiew__about--primary">Прессотерапия</span></p>
                <div class="rewiew__wrap">

                    <p class="rewiew__text">
Весной долго болела, немного набрала, физпроцедуры врач мне запретил на месяц и посоветовал прессотерапию. Как увидела аппарат испугалась, но потом поняла, что ничего страшного нет)) Очень приятно и тепло в нем. Персоналу низкий поклон)                    
                    </p>

                    
                </div>
            <a href="#" class="rewiew__open">подробнее</a>
            </div>
            <div class="rewiew__item">
                <p class="rewiew__name">Ксения Горшкова</p>
                <p class="rewiew__about"><span class="rewiew__about--primary">LPG-массаж + кавитация + миостимуляция</span></p>
                <div class="rewiew__wrap">

                    <p class="rewiew__text">
Это просто волшебно!!! Выбирала студию рядом с домом и очень рада, что пришла в ESD. Ребята нереально позитивные и очень умелые.                    
                    </p>

                    
                </div>
                <a href="#" class="rewiew__open">подробнее</a>
            </div>
        

        
        </div>
        
    </div>
</div>
