<div class="rewiew" id="review"> 
    <div class="container">
    <h2 class="title">Отзывы клиентов</h2>
        <div class="rewiew__inner">


            <div class="rewiew__item">
                <p class="rewiew__name">Маргарита Александровна</p>
                <p class="rewiew__about"><span class="rewiew__about--primary">LPG массаж на аппарате VORTEX</span></p>
                <div class="rewiew__wrap ">

                    <p class="rewiew__text ">
                    Рекомендую студию ESD! Уютная обстановка, приветливый персонал, чистая студия и, что самое главное, новое оборудование. Девочки-красавицы и профессионалы своего дела! Случайно нашла студию в Инстаграме, решила попробовать вакуумный массаж (больше ради интереса) и просто в восторге от быстрого эффекта! 
                    
                    </p>

                    
                </div>
                <a href="#" class="rewiew__open">подробнее</a>
            </div>
            <div class="rewiew__item">
                <p class="rewiew__name">Маргарита Александровна</p>
                <p class="rewiew__about"><span class="rewiew__about--primary">LPG массаж на аппарате VORTEX</span></p>
                <div class="rewiew__wrap">

                    <p class="rewiew__text">
                    Прошла небольшой курс из 6 процедур на область живота. В сочетании с диетой ушло несколько сантиметров. Самое главное для меня, так как раньше занималась спортом (сейчас не могу по показаниям), то будто бы мышцы живота активизировались. Спасибо всем мастерам, была у разных девушек за все посещения, все понравились.
                    
                    </p>

                    
                </div>
                <a href="#" class="rewiew__open">подробнее</a>
            </div>
            <div class="rewiew__item">
                <p class="rewiew__name">Маргарита Александровна</p>
                <p class="rewiew__about"><span class="rewiew__about--primary">LPG массаж на аппарате VORTEX</span></p>
                <div class="rewiew__wrap">

                    <p class="rewiew__text">
                    Отличное место. Цены приятные, за такой результат готова была даже намного больше заплатить) Была на коррекции фигуры, ну очень надо было убрать ушки на бедрах. Ушло все, что не смогла убрать тренировками. Не могу оторваться от зеркала) Спасибо!
                    
                    </p>

                    
                </div>
            <a href="#" class="rewiew__open">подробнее</a>
            </div>
            <div class="rewiew__item">
                <p class="rewiew__name">Маргарита Александровна</p>
                <p class="rewiew__about"><span class="rewiew__about--primary">LPG массаж на аппарате VORTEX</span></p>
                <div class="rewiew__wrap">

                    <p class="rewiew__text">
                    Студия удобно расположена. Процедуры аппаратного массажа отлично подтянули кожу, ушёл эффект апельсиновой корки. Прессотерапия сама по себе - релакс, прекрасно расслабляет после трудового дня, уходишь с чувством легкости. Мастера рассказывают много интересного во время сеанса, а это очень важно для людей как я, которые хотят встать на путь здорового и красивого тела, но так мало об этом знают. В общем, я рада, что нашла эту студию, в планах еще одни абонемент на рф-лифтинг.
                    
                    </p>

                    
                </div>
                <a href="#" class="rewiew__open">подробнее</a>
            </div>
        

        
        </div>
        
    </div>
</div>
