{% load static %}


<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <link rel="canonical" href="{% block canonical %}{% endblock %}" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og:title %}{% endblock %} " />
    <meta property="og:description" content="{% block og:description %}{% endblock %}" />
    <meta property="og:url" content="{% block og:url %}{% endblock %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block twitter:title %}{% endblock %}"  />
    <meta name="twitter:description" content="{% block twitter:description %}{% endblock %}" />
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="" />
    <meta property="vk:image" content="{% block vk:image %}{% endblock %}" />
    <meta property="og:image" content="{% block og:image %}{% endblock %}" />

   
    {% comment %} <link rel="shortcut icon" href="{% static 'fav/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'fav/apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'fav/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'fav/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'fav/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'fav/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'fav/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'fav/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'fav/apple-touch-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon-180x180.png' %}" /> {% endcomment %}

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

    
    <link href="{% static 'css/style.css' %}?{% now 'H:i:s' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0af96d350a.js" crossorigin="anonymous"></script>

    
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__column">
                <img src="{% static 'images/logo.png' %}" alt="" class="header__logo">
                <img src="{% static 'images/name.png' %}" alt="" class="header__name">

                <div class="header__services">
                    <p class="header__service">LPG массаж</p>
                    <p class="header__service">RF Лифтинг</p>
                    <p class="header__service">Кавитация</p>

                </div>
            
            </div>
            <div class="header__column">
                <img src="{% static 'images/header/maps.png' %}" alt="" class="header__icon">
                <div class="header__column-wrap">
                    <p class="header__top">Москва, Бескудниковский бульвар, д.13</p>
                    <p class="header__bottom">Ежедневно с 9<sup>00</sup> до 21<sup>00</sup></p>
                    
                </div>
            </div>
            <div class="header__column">
                <img src="{% static 'images/header/phone-call.png' %}" alt="" class="header__icon">
                <div class="header__column-wrap">
                    <a href="tel:84951981503" class="header__top">8 (495) 198-15-03</a>
                    <a href="#" class="header__bottom header__link popup__open">Обратный звонок</a>
                    
                </div>
            </div>
            <div class="header__column">
                <img src="{% static 'images/header/wallet.png' %}" alt="" class="header__icon">
                <div class="header__column-wrap">
                    <p class="header__top">Прайс на услуги салона</p>
                    <a href="#" class="header__bottom header__link price-popup__open">Посмотреть стоимость</a>
                   
                </div>
            </div>
        </div>
    </div>
</header>
<div class="toggle-menu" id="menu">
    <div class="toggle-section">
        <a href="#" class="menu-btn">
            <span></span>
        </a>
    </div>
</div>


<div class="popup">

    
    <div class="popup__closer"></div>
        <div class="popup__inner">
            <img src="{% static 'images/cancel.png' %}" alt="" class="popup__cancel">
            <p class="popup__title">Подберём для Вас методики и подходящие услуги</p>
            <form action="#" class="popup__form">
                

                <div class="popup__bottom">
                    <p class="popup__bottom-text">Укажите контактные данные для связи</p>

                    <div class="popup__bottom-wrap">
                        <input type="text" class="popup__input-bottom" placeholder="Ваше имя" required>
                        <input type="text" class="popup__input-bottom" placeholder="+7 ХХХ ХХХ-ХХ-ХХ" required> 
                    </div>

                    
                    <input type="checkbox" class="custom-checkbox" id="politics" name="happy" required>
                    <label for="politics">— согласие на обработку персональных данных</label>

                </div>
                <button class="btn btn__full">Оставить заявку</button>

            </form>
        
        </div>
    

</div>


    {% block body %}
    {% endblock %}

 
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="footer__contacts">
                    
                        <div class="footer__logo-wrap">
                           

                            <div class="footer__logo-right">
                                <img src="{% static 'images/logo-footer.png' %}" alt="">
                                <div class="footer__text-wrap">
                                    <p class="footer__text">LPG массаж</p>
                                    <p class="footer__text">RF Лифтинг</p>
                                    <p class="footer__text">Кавитация</p>

                                </div>
                            </div>


                        </div>

                        <div class="footer__row">
                            <div class="footer__item">
                                <img src="{% static 'images/map-icon.png' %}" alt="">
                                <div class="footer__item-wrap">
                                    <p class="footer__item-bold">Москва, Бескудниковский бульвар, д.13</p>
                                    <p class="footer__item-light">Ежедневно с 9<sup>00</sup> до 21<sup>00</sup></p>
                                </div>
                            </div>
                            <div class="footer__item">
                                <img src="{% static 'images/mail-icon.png' %}" alt="">
                                <div class="footer__item-wrap">
                                    <a href="mailto:feedback@esdstudio.ru" class="footer__item-bold">feedback@esdstudio.ru</a>
                                    <p class="footer__item-light">Напишите нам</p>
                                </div>
                            </div>

                        </div>
                        <div class="footer__row">
                            <div class="footer__item">
                                <img src="{% static 'images/phone-icon.png' %}" alt="">
                                <div class="footer__item-wrap">
                                    <a href="tel:84951981503" class="footer__item-bold">8 (495) 198-15-03</a>
                                    <p class="footer__item-light">Обратный звонок</p>
                                </div>
                            </div>
                            <div class="footer__item footer__item--social">
                                {% comment %} <a href="#" class="footer__link"><i class="fab fa-vk"></i></a> {% endcomment %}
                                <a href="https://www.instagram.com/esdfigurestudio/" class="footer__link"><i class="fab fa-instagram"></i></a>
                                {% comment %} <a href="#" class="footer__link"><i class="fab fa-telegram-plane"></i></a>
                                <a href="#" class="footer__link"><i class="fab fa-facebook-f"></i></a> {% endcomment %}

                            </div>

                        </div>



                        <a href="#" class="btn btn__white popup__open">Обратный звонок</a>
                    
                   
                   

                
                </div>
                <div class="footer__map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac3e72481238ed8c4d6d2970339bdfadb80a93bf9a27b47eed8be87a258da4aae&amp;width=100%25&amp;height=606&amp;lang=ru_RU&amp;scroll=true"></script>
                
                </div>
            
            </div>


            
        
        </div>
    </div>
</footer>

<div class="container">
    <div class="footer__bottom">
    
        <div class="footer__column">
            <p class="footer__copy">
            {% now "Y" %} — «ESD студия коррекции фигуры» Все парава защищены.
            </p>

        </div>
        <div class="footer__column">
            <a href="#" class="footer__link-decor footer__copy">Политика конфиденциальности</a>
        
        </div>
        <div class="footer__column">
            <a href="#" class="footer__link-decor footer__copy">Пользовательское соглашение</a>
        
        </div>
        <div class="footer__column">
                <p class="footer__copy">
            Разработано — <a href="https://zimin-studio.ru/" class="footer__link-decor">ZiminStudio</a>
            </p>
        
        </div>
    </div>
</div>



<div class="price-popup">
    <div class="price-popup__closer"></div>
    
        <div class="price-popup__inner">

        
            <img src="/static/images/cancel.png" alt="" class="price-popup__cancel">
            <p class="price-popup__title">Услуги и цены</p>

            <div class="price-popup__item">
                <p class="price-popup__item-title">Аппаратный массаж</p>
                
                <p class="price-popup__subtitle">LPG 30 минут</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1200 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">5000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">10 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">9000 руб.</p>

                    
                    </li>
                
                </ul>
                <p class="price-popup__subtitle">LPG 40 минут</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1200 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1500 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">6000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">10 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">11000 руб.</p>

                    
                    </li>
                
                </ul>
                <p class="price-popup__subtitle">Кавитация 30 минут</p>
                <p class="price-popup__desc">(одна зона)</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1200 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1500 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">6000 руб.</p>

                    
                    </li>
                    
                
                </ul>
                <p class="price-popup__subtitle">Кавитация 50 минут</p>
                <p class="price-popup__desc">(три зоны)</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1600 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">2000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">8000 руб.</p>

                    
                    </li>
                    
                
                </ul>
                <p class="price-popup__subtitle">RF лифтинг 15 минут</p>
                <p class="price-popup__desc">(лицо)</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1100 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">5000 руб.</p>

                    
                    </li>
                    
                
                </ul>
                <p class="price-popup__subtitle">RF лифтинг 30 минут</p>
                <p class="price-popup__desc">(лицо и тело)</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1300 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1500 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">6500 руб.</p>

                    
                    </li>
                    
                
                </ul>
                <p class="price-popup__subtitle">RF лифтинг 30 минут</p>
                <p class="price-popup__desc">(тело)</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1200 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1400 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">6000 руб.</p>

                    
                    </li>
                    
                
                </ul>
                <p class="price-popup__subtitle">Прессотерапия + Инфракрасный нагрев 30 минут</p>
                <p class="price-popup__desc">(тело)</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1300 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">5000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">10 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">9000 руб.</p>

                    
                    </li>
                    
                
                </ul>
                <p class="price-popup__subtitle">Прессотерапия 30 минут</p>
                <p class="price-popup__desc">(тело)</p>
                <ul class="price-popup__list">
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">Пробный сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">900 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">1100 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">4500 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">10 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">8000 руб.</p>

                    
                    </li>
                    
                
                </ul>
                



            
            </div>

            <div class="price-popup__item">
                <p class="price-popup__item-title">Аппаратный массаж 2 в 1</p>
                
                <p class="price-popup__subtitle">LPG массаж + кавитация (одна зона) 60 минут</p>
                <ul class="price-popup__list">
                    
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">2500 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">11000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">10 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">20000 руб.</p>

                    
                    </li>
                
                </ul>
            </div>
            <div class="price-popup__item">
                <p class="price-popup__item-title">Аппаратный массаж 3 в 1</p>
                
                <p class="price-popup__subtitle">LPG массаж + миостимуляция (тело) + кавитация (тело) 90 минут</p>
                <ul class="price-popup__list">
                    
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">1 сеанс</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">3500 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">5 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">16000 руб.</p>

                    
                    </li>
                    <li class="price-popup__li">
                        <p class="price-popup__list-title">10 сеансов</p>
                        <p class="price-popup__list-decor"></p>
                        <p class="price-popup__list-price">30000 руб.</p>

                    
                    </li>
                
                </ul>
            </div>



            
            </div>
        </div>
    
</div>

<div class="popup-sogl">
    <div class="popup-sogl__closer"></div>
    
    <div class="popup-sogl__inner">
        <p class="popup-sogl__title">Пользовательское Соглашение</p>

    
    </div>
</div>



    <script src="{% static 'js/jquery.js' %}?v.1.0.3"></script>
    <script type="text/javascript" src="{% static 'js/slick.js' %}?v.1.0.3"></script>
    <script src="{% static 'js/script.js' %}?{% now 'H:i:s' %}"></script>
  

 
</body>
</html>