{% load static %}


<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <link rel="canonical" href="{% block canonical %}{% endblock %}" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og:title %}{% endblock %} " />
    <meta property="og:description" content="{% block og:description %}{% endblock %}" />
    <meta property="og:url" content="{% block og:url %}{% endblock %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block twitter:title %}{% endblock %}"  />
    <meta name="twitter:description" content="{% block twitter:description %}{% endblock %}" />
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="" />
    <meta property="vk:image" content="{% block vk:image %}{% endblock %}" />
    <meta property="og:image" content="{% block og:image %}{% endblock %}" />

   
    {% comment %} <link rel="shortcut icon" href="{% static 'fav/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'fav/apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'fav/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'fav/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'fav/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'fav/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'fav/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'fav/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'fav/apple-touch-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon-180x180.png' %}" /> {% endcomment %}

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

    
    <link href="{% static 'css/style.css' %}?{% now 'H:i:s' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0af96d350a.js" crossorigin="anonymous"></script>

    
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__column">
                <img src="{% static 'images/logo.png' %}" alt="" class="header__logo">
                <img src="{% static 'images/name.png' %}" alt="" class="header__name">

                <div class="header__services">
                    <p class="header__service">LPG массаж</p>
                    <p class="header__service">RF Лифтинг</p>
                    <p class="header__service">Кавитация</p>

                </div>
            
            </div>
            <div class="header__column">
                <img src="{% static 'images/header/maps.png' %}" alt="" class="header__icon">
                <div class="header__column-wrap">
                    <p class="header__top">Москва, Ворошилова 16</p>
                    <p class="header__bottom">Ежедневно с 9<sup>00</sup> до 21<sup>00</sup></p>
                    
                </div>
            </div>
            <div class="header__column">
                <img src="{% static 'images/header/phone-call.png' %}" alt="" class="header__icon">
                <div class="header__column-wrap">
                    <p class="header__top">+7 (989) 023-48-49</p>
                    <a href="#" class="header__bottom header__link">Обратный звонок</a>
                    
                </div>
            </div>
            <div class="header__column">
                <img src="{% static 'images/header/wallet.png' %}" alt="" class="header__icon">
                <div class="header__column-wrap">
                    <p class="header__top">Прайс на услуги салона</p>
                    <a href="" class="header__bottom header__link">Посмотреть стоимость</a>
                   
                </div>
            </div>
        </div>
    </div>
</header>
<div class="toggle-menu" id="menu">
    <div class="toggle-section">
        <a href="#" class="menu-btn">
            <span></span>
        </a>
    </div>
</div>

    {% block body %}
    {% endblock %}

 
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="footer__contacts">
                    
                        <div class="footer__logo-wrap">
                           

                            <div class="footer__logo-right">
                                <img src="{% static 'images/logo-footer.png' %}" alt="">
                                <div class="footer__text-wrap">
                                    <p class="footer__text">LPG массаж</p>
                                    <p class="footer__text">RF Лифтинг</p>
                                    <p class="footer__text">Кавитация</p>

                                </div>
                            </div>


                        </div>

                        <div class="footer__row">
                            <div class="footer__item">
                                <img src="{% static 'images/map-icon.png' %}" alt="">
                                <div class="footer__item-wrap">
                                    <p class="footer__item-bold">Москва, Ворошилова 16</p>
                                    <p class="footer__item-light">Ежедневно с 9<sup>00</sup> до 21<sup>00</sup></p>
                                </div>
                            </div>
                            <div class="footer__item">
                                <img src="{% static 'images/mail-icon.png' %}" alt="">
                                <div class="footer__item-wrap">
                                    <a href="mailto:feedback@eds.com" class="footer__item-bold">feedback@eds.com</a>
                                    <p class="footer__item-light">Напишите нам</p>
                                </div>
                            </div>

                        </div>
                        <div class="footer__row">
                            <div class="footer__item">
                                <img src="{% static 'images/phone-icon.png' %}" alt="">
                                <div class="footer__item-wrap">
                                    <a href="#" class="footer__item-bold">+7 (989) 023-48-49</a>
                                    <p class="footer__item-light">Обратный звонок</p>
                                </div>
                            </div>
                            <div class="footer__item footer__item--social">
                                <a href="#" class="footer__link"><i class="fab fa-vk"></i></a>
                                <a href="#" class="footer__link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="footer__link"><i class="fab fa-telegram-plane"></i></a>
                                <a href="#" class="footer__link"><i class="fab fa-facebook-f"></i></a>

                            </div>

                        </div>



                        <a href="#" class="btn btn__white">Обратный звонок</a>
                    
                   
                   

                
                </div>
                <div class="footer__map">
                    <img src="{% static 'images/map.jpg' %}" alt="">
                
                </div>
            
            </div>


            
        
        </div>
    </div>
</footer>

            <div class="container">
                <div class="footer__bottom">
                
                    <div class="footer__column">
                        <p class="footer__copy">
                        {% now "Y" %} — ООО "ESD" Все парава защищены.
                        </p>

                    </div>
                    <div class="footer__column">
                        <a href="#" class="footer__link-decor footer__copy">Политика конфиденциальности</a>
                    
                    </div>
                    <div class="footer__column">
                        <a href="#" class="footer__link-decor footer__copy">Пользовательское соглашение</a>
                    
                    </div>
                    <div class="footer__column">
                            <p class="footer__copy">
                        Разработано — <a href="https://zimin-studio.ru/" class="footer__link-decor">ZiminStudio</a>
                        </p>
                    
                    </div>
                </div>
            </div>

    <script src="{% static 'js/jquery.js' %}?v.1.0.3"></script>
    <script type="text/javascript" src="{% static 'js/slick.js' %}?v.1.0.3"></script>
    <script src="{% static 'js/script.js' %}?{% now 'H:i:s' %}"></script>
  

 
</body>
</html>